asgiref==3.4.1
autopep8==1.5.7
Django==3.2.12
django-crispy-forms
django-ckeditor
pycodestyle
pytz==2021.3
sqlparse
toml==0.10.2
pillow
psycopg2
mysqlclient
django-admin-interface
django-jalali-date
django-simple-captcha
django-taggit-serializer
django-taggit
django-tinymce
django-minio-storage==0.3.10