{% extends "base.html" %} 
{% load static %}
{% load jalali_tags %}
{% block content %}

<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    {% if tag %}
                        {% if tag.name == "projects" %}
                            <h2 class="mb-3">پروژه ها</h2>
                        {% else %}
                            <h2 class="mb-3">آموزش های "{{ tag.name }}"</h2>
                        {% endif %}
                    {% endif %}
                    <br>
                    <form action="{% url 'articles:list' %}">
                        <input class="search" type="search" value="{{request.GET.q}}" name="q" placeholder="جستجو" aria-label="جستجو">
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="feature">
    <div class="feature-content">
        {% for post in posts %}
        <div class="post-preview">
            <a class="text-decoration-none" href="{{ post.get_absolute_url }}">
                <img src="{{post.image.url}}" class="cover_image">
                <h2 class="post-title post-a">{{ post.title }}</h2>
                <p class="post-subtitle">{{post.subheading|slice:":100"|safe }}</p>
            </a>
            <p class="post-meta">{{ post.date|to_jalali:'14%y/%m/%d'}} | {{ post.author }}</p>
        </div>
        {% endfor %}
    </div>
    <br><br>
</section>
<br><br><br>
{% include "articles/pagination.html" with page=posts %}
<br>
{%endblock%}